@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0 !important;
}

.carousel img {
    /* height: 100vh; */
    max-height: 100vh;
    box-shadow: 1px 3px 10px black;
}

.card img {
    height: 70%;
    box-shadow: 1px 2px 10px black;
}

 /* CSS for the scroll-to-top button */
 #scrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #4ec3d5;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
  }

  .form-control:focus {
    border-color: #4ec3d5;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #4ec3d5;
  }


.nav-link:hover,
.dropdown-item:hover {
    color: #4ec3d5;
}

.card {
  transition-duration: 0.5s;
}

.card:hover {
  transform: scale(0.95) !important;
}


#flick {
  transition-duration: 1s;
}


nav li {
  transition-duration: 0.2s;
}


nav li:hover {
  transform: scale(0.95);
}